@font-face {
  font-family: "gilory";
  src: url("../fonts/gilroyextrabold.woff") format('woff'),
       url("../fonts/gilroyextrabold.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "sans";
  src: url("../fonts/opensanslight.woff") format('woff'),
       url("../fonts/opensanslight.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroylight.woff") format('woff'),
       url("../fonts/gilroylight.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}
