@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroyextrabold.woff") format('woff'),
       url("../fonts/gilroyextrabold.woff2") format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff") format('woff'),
       url("../fonts/opensanslight.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroylight.woff") format('woff'),
       url("../fonts/gilroylight.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff") format('woff'),
       url("../fonts/opensans.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "gilroy", "Helvetica", sans-serif;
  background-color: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
  letter-spacing: 0.01em;
}

.container {
  width: 1160px;
  padding: 0 0px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-image: linear-gradient(#ffffff 22px, #f7e296 22px, #f7e296 187px);
  padding-bottom: 56px;
}

.header-catalog {
  background-image: linear-gradient(#ffffff 22px, #f7e296 22px, #f7e296 187px);
  padding-bottom: 56px;
  margin-bottom: 44px;
}

.header-logo-wrapper {
  margin-bottom: 35px;
}

.header-logo {
  font-family: "gilroy";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  font-weight: 900;
  margin-left: 60px;
}

.main-nav {
  display: flex;
}

.header-left-block {
  width: 240px;
  margin-left: 60px;
  margin-right: 300px;
}

.search-form {
  margin-left: 40px;
  margin-bottom: 50px;
}

.search-form::before {
  content: "";
  position: absolute;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: -35px;
}

.search-link {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  opacity: 0.5;
  border: none;
  background-color: #f7e296;
}

.catalog-sub-menu {
  display: none;
}

.catalog-link {
  font-family: "gilroy";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.catalog-link::after {
  content: "";
  position: absolute;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  margin-top: 5px;
  margin-left: 10px;
}

.sub-menu-item {
  list-style: none;
}

.sub-menu-link {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 36px;
  text-decoration: none;
  color: #000;
  font-weight: 100;
}

.header-center-block {
  display: flex;
  width: 280px;
  margin-right: 20px;
  flex-wrap: wrap;
}

.login-link {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  font-weight: 100;
  margin-bottom: 50px;
}

.center-block-wrapper {
  display: flex;
  width: 280px;
  justify-content: space-between;
}

.delivery-link {
  font-family: "gilroy";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.garanty-link {
  font-family: "gilroy";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.header-right-block {
  width: 200px;
}

.right-block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.compare-link {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
  font-weight: 100;
}

.compare-link::before {
  content: "";
  position: absolute;
  background-image: url("../img/compare.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: -20px;
}

.basket-link {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
  color: #000;
}

.basket-link::before {
  content: "";
  position: absolute;
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: -20px;
}

.contacts-link {
  display: flex;
  font-family: "gilroy";
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.2em;
  justify-content: flex-end;
}

.slider{
  display: flex;
  flex-direction: row;
  margin-bottom: 106px;
}

.slider-item {
  display: flex;
}

.slider-image-wrapper{
  width: 560px;
  margin-right: 40px;
}

.slider-item-wrapper {
  width: 480px;
}

.slider-title {
  font-family: "gilroy";
  font-size: 47px;
  line-height: 56px;
  font-weight: 900;
}

.slider-description {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.slider-link {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

.characteristics > tbody {
  display: flex;
  flex-direction: row;
}

.property {
  display: flex;
  flex-direction: column;
}

.characteristic {
  font-family: "gilroy";
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.parameter {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  font-weight: 300;
}

.categories {
  display: flex;
  margin-bottom: 165px;
}

.categories-list {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.categories-item {
  list-style: none;
  margin-right: 40px;
}

.categories-link {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0px;
}

.categories-image-wrapper {
  background-color: #f7e296;
  width: 160px;
  height: 160px;
}

.categories-image-vr {
  background: #f7e296 url("../img/vr.png") no-repeat 50% 50%;
}

.categories-image-monopod {
  background: #f7e296 url("../img/monopod.png") no-repeat 50% 100%;
}

.categories-image-camera {
  background: #f7e296 url("../img/camera.png") no-repeat 50% 50%;
}

.categories-image-bracelet {
  background: #f7e296 url("../img/bracelet.png") no-repeat 50% 50%;
}

.categories-image-watch {
  background: #f7e296 url("../img/watch.png") no-repeat 50% 50%;
}

.categories-image-drone {
  background: #f7e296 url("../img/drone.png") no-repeat 50% 50%;
}

.categories-link:hover .categories-image-wrapper{
  background-color: #f0c52e;
}

.categories-link:active .categories-image {
  opacity: 0.3;
}

.categories-link {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.services {
  background-image: linear-gradient(#ffffff 27px, #e5e5e5 27px, #e5e5e5 300px);
  margin-bottom: 94px;
}

.services-block {
  display: flex;
  flex-direction: row;
  padding-bottom: 150px;
}

.services-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 0 0 0;
  margin: 0 120px 0 0;
}

.services-list::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 320px;
  background-color: #000000;
  margin-left: 280px;
}

.services-item {
  list-style: none;
  width: 280px;
  margin: 0;
}

.services-delivery-item {
  margin-bottom: 50px;
}

.services-warrantly-item {
  margin-bottom: 50px;
}

.services-title {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-left: 20px;
}

.services-title:hover {
  background-color: #000000;
  color: #f0c52e;
}

.services-delivery-title:hover {
  padding: 13px 140px 13px 20px;
}

.services-warrantly-title:hover {
  padding: 13px 150px 13px 20px;
}

.services-credit-title:hover {
  padding: 13px 175px 13px 20px;
}

.services-delivery {
  font-family: "gilroy";
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  margin: 0 0 43px 0;
}

.services-warrantly {
  font-family: "gilroy";
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
}

.services-credit {
  font-family: "gilroy";
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
}

.services-definition-wrapper {
  width: 460px;
  margin-right: 120px;
}

.services-description {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  margin: 0;
}

.services-image-wrapper {
  width: 260px;
}

.logotypes {
  margin-bottom: 93px;
}

.logotypes-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.logotypes-item {
  list-style: none;
  opacity: 0.2;
}

.info {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.about-us {
  width: 500px;
  margin-right: 140px;
}

.about-us::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.info-title {
  font-family: "gilroy";
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  margin: 60px 0 52px 0;
}

.info-description {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  font-weight: 300;
  margin-bottom: 45px;
}

.info-delivery-description {
  margin-bottom: 50px;
}

.info-map {
  margin-bottom: 80px
}

.info-list {
  margin: 0 0 80px 35px;
  padding: 0;
}

.list-item {
  font-family: "gilroy";
  font-size: 16px;
  line-height: 40px;
  list-style: none;
}

.list-item::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #e5e5e5;
  margin-top: 17px;
  margin-left: -25px;
}

.info-link {
  color: #000;
  text-decoration: none;
  font-weight: 900;
}

.infolink{
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-weight: 900;
}

.info-contacts {
  width: 560px;
}

.map-title {
  font-family: "gilroy";
  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  margin: 60px 0 52px 0;
}

.info-contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.map-link {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-weight: 900;
}

.found {
  margin-bottom: 50px;
}

.found-caption {
  font-family: "gilroy";
  font-size: 47px;
  line-height: 48px;
  margin: 0 0 35px 60px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding: 0;
  margin-left: 60px;
}

.crumbs-item {
  list-style: none;
}

.crumbs-link {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: #e5e5e5;
}

.filter-sorting {
  width: 100%;
  background-image: linear-gradient(90deg, #dcdcdc 50%, #ebebeb 50%);
}

.filter-sorting-wrapper {
  display: flex;
}

.filter-wrapper {
  display: flex;
  width: 270px;
  align-items: center;
  margin-left: 60px;
}

.filter {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-transform: uppercase;
}

.sorting-wrapper {
  display: flex;
  background-color: #ebebeb;
  padding-left: 72px;
}

.sorting {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  letter-spacing: 0.2em;
  font-weight: 900;
  text-transform: uppercase;
  align-self: center;
}

.sorting-list {
  display: flex;
  list-style: none;
  width: 300px;
  justify-content: space-between;
}

.sorting-item {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 40px;
  color: #000;
  font-weight: 300;
}

.sorting-item:not(:first-child) {
  opacity: 0.5;
}

.products {
  display: flex;
  background-image: linear-gradient(90deg, #efefef 50%, #ffffff 50%);
}

.products-wrapper {
  display: flex;
}

.main-content-left {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-left: 60px;
}

.color-section {
  display: flex;
  flex-direction: column;
}

.filter-title {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.filter-parameter {
  font-family: "OpenSans";
  font-size: 14px;
  line-height: 40px;
}

.main-content-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  padding-top: 70px;
  background-color: #fff;
}

.bluetooth-section {
  display: flex;
  flex-direction: column;
}

.form-button {
  font-family: "gilroy";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 900;
  color: #000;
  border: none;
  background-color: #eeeeee;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 760px;
}

.product-item {
  list-style: none;
}

.card-name {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
}

.card-price {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #464646;
  font-weight: 300;
}

.add-basket-link {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.comparison-link {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 36px;
  color: #000;
  text-decoration: none;
}

.pagination {
  width: 760px;
  background-color: #ebebeb;
  margin-bottom: 77px;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.pagination-item {
  list-style: none;
}

.forward {
  margin-left: 30px;
}

.back {
  margin-right: 30px;
}

.pagination-link {
  font-family: "gilroy";
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
}

.pagination-item:nth-child(2) {
  font-weight: 900;
}

.pagination-item:nth-child(3) {
  font-weight: 900;
  opacity: 0.5;
}

.pagination-item:nth-child(4) {
  font-weight: 900;
  opacity: 0.5;
}

.pagination-switch {
  font-family: "gilroy";
  font-size: 16px;
  line-height: 24px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 900;
}


.footer {
  background-color: #464646;
}

.footer-main-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 66px;
  padding-bottom: 68px;
  background-color: #464646;
}

.footer-left-block {
  width: 260px;
}

.footer-left-block::after {
  content: " ";
  background-color: #ffc600;
  height: 7px;
  width: 80px;
  position: absolute;
  margin-top: 72px;
}

.footer-logo {
  font-family: "gilroy";
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}

.footer-address {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 100;
  margin: 0;
  padding-top: 52px;
}

.footer-center-block {
  width: 440px;
  padding-top: 100px;
}

.footer-services-wrapper {
  display: flex;
  justify-content: space-between;
  width: 440px;
  margin-bottom: 70px;
}

.footer-service {
  font-family: "gilroy";
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 0.2em;
}

.footer-social-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 160px;
  margin: 0 auto;
  padding: 0;
}

.social-image {
  opacity: 0.2;
}

.footer-right-block{
  width: 300px;
}

.footer-right-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-number {
  display: flex;
  justify-content: flex-end;
}

.footer-link {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
}

.footer-social-item {
  list-style: none;
}

.footer-number {
  font-family: "OpenSans";
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 62px;
}

.academy-link {
  display: flex;
  justify-content: flex-end;
}
